body {
	background-color: #F5F4F1 !important;
}

.ui.container {
	width: 55%;
}

.ui.header-contaner {
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;
}

.ui.header-contaner h1 {
	margin: 0;
	color: #39C376;
	font-family: emoji;
}


.ui.grid.main-container {
	width: 100%;
	margin: auto;
	margin-top: 20px;
	padding-bottom: 40px;
}

.nine.wide.column.left-1 {
    width: auto;
    padding: 0;
}

.seven.wide.column.right-1 {
    width: 375px;
    padding: 0;
	margin-left: 0px;
}

.ui.segment.right-1 {
    width: 375px;
	float: right;
	height: 1000px;
}

.ui.segment.left-1{
    width: 100%;
	float: left;
	height: 1000px;
}