body {
	background-color: #F5F4F1 !important;
}

.ui.container {
	width: 60%;
}

.ui.header-contaner {
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;
}

.ui.header-contaner h1 {
	margin: 0;
	color: #61bc84;
	font-family: emoji;
}


.ui.grid.main-container {
	width: 100%;
	margin: auto;
	margin-top: 20px;
	padding-bottom: 18px;
}

.nine.wide.column.left-1 {
	width: auto;
	padding: 0;
	position: sticky;
	top: 10px;
	height: 100px;
}

.seven.wide.column.right-1 {
	width: 375px;
	padding: 0;
	margin-left: 0px;
}

.ui.segment.right-1 {
	width: 375px;
	left: 20px;
	height: auto;
	padding: 0;
}

.ui.segment.left-1 {
	width: 100%;
	height: auto;
	min-height: 230px;
}

/* 调整编辑器高度 */
#editor-container {
	height: 505px !important;
	min-height: 150px;
}

body ::-webkit-scrollbar-track {
    background: none;
	display: none;
    /* border-radius: 0; */
}

body ::-webkit-scrollbar {
    width: 8px;
}

/* 设置弹窗颜色 */
.tata.success {
    background: #61bc84!important;
}

.ui.green.button, .ui.green.buttons .button {
    background-color: #61bc84!important;
}